<p id="notice"><%= notice %></p>

<p>
  <strong>Ref key:</strong>
  <%= @in_proceeding.ref_key %>
</p>

<p>
  <strong>Author:</strong>
  <%= @in_proceeding.author %>
</p>

<p>
  <strong>Title:</strong>
  <%= @in_proceeding.title %>
</p>

<p>
  <strong>Booktitle:</strong>
  <%= @in_proceeding.booktitle %>
</p>

<p>
  <strong>Editor:</strong>
  <%= @in_proceeding.editor %>
</p>

<p>
  <strong>Volume:</strong>
  <%= @in_proceeding.volume %>
</p>

<p>
  <strong>Number:</strong>
  <%= @in_proceeding.number %>
</p>

<p>
  <strong>Series:</strong>
  <%= @in_proceeding.series %>
</p>

<p>
  <strong>Pages:</strong>
  <%= @in_proceeding.pages %>
</p>

<p>
  <strong>Address:</strong>
  <%= @in_proceeding.address %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @in_proceeding.organization %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @in_proceeding.publisher %>
</p>

<p>
  <strong>Year:</strong>
  <%= @in_proceeding.year %>
</p>

<p>
  <strong>Month:</strong>
  <%= @in_proceeding.month %>
</p>

<p>
  <strong>Note:</strong>
  <%= @in_proceeding.note %>
</p>

<%= link_to 'Edit', edit_in_proceeding_path(@in_proceeding) %> |
<%= link_to 'Back', in_proceedings_path %>
