<p id="notice"><%= notice %></p>

<!-- <p>
  <strong>Url:</strong>
  <%= @page.url %>
</p> -->
<h2>Articles</h2>
<table class="table table-hover">
  <thead>
    <% Article.rendered_fields.each do |f| %>
      <td><b><%=f %></b></td>
    <% end %>
  </thead>
  <% @page.get_articles.each do |article| %>
    <tr>
      <% Article.rendered_fields.each do |f| %>
        <td><%= article.send(f) %></td>
      <% end %>
      <td><%= link_to 'Edit', '/' + @page.id.to_s + '/articles/' + article.id.to_s %></td>
    </tr>
  <% end %>
</table>




<%= link_to 'Create new article reference', '/' + @page.id.to_s + '/new/article'  %>

<%= link_to 'Back', '/' %>

<br> <br> <br> <br> <br>
<h4> OUTPUT BIBTEX </h4>

<textarea rows=30 cols=50 readonly><%= @page.to_bibtex %></textarea>
