<h2> Your bibtex is saved to <%= link_to @url %> </a> <span style="color: red">SAVE THIS URL OR YOU WILL NOT BE ABLE TO ACCESS YOUR WORK </span> </h2>
<h4><%= link_to 'Back to main page', '/' %></h4>
<br><br>

<h2 style="margin-bottom: 4px">Articles &nbsp<span class="new-article" style="font-size: 16px"> <%= link_to 'Create new', '/' + @page.id.to_s + '/new/article'  %> </span> </h2>

<br>

<table class="table table-hover">
	<thead>
		<% Article.rendered_fields.each do |f| %>
			<td><b><%=f %></b></td>
		<% end %>
	</thead>
	<% @page.get_articles.each do |article| %>
		<tr>
			<% Article.rendered_fields.each do |f| %>
				<td><%= article.send(f) %></td>
			<% end %>
			<td style="font-weight: 600"><%= link_to 'Edit', '/' + @page.id.to_s + '/articles/' + article.id.to_s %></td>
		</tr>
	<% end %>
</table>

<br>

<h2 style="margin-bottom: 4px">Books &nbsp<span class="new-book" style="font-size: 16px"> <%= link_to 'Create new', '/' + @page.id.to_s + '/new/book'  %> </span> </h2>

<br>

<table class="table table-hover">
	<thead>
		<% Book.rendered_fields.each do |f| %>
			<td><b><%=f %></b></td>
		<% end %>
	</thead>
	<% @page.get_books.each do |book| %>
		<tr>
			<% Book.rendered_fields.each do |f| %>
				<td><%= book.send(f) %></td>
			<% end %>
			<td style="font-weight: 600"><%= link_to 'Edit', '/' + @page.id.to_s + '/books/' + book.id.to_s %></td>
		</tr>
	<% end %>
</table>

<br>

<h2 style="margin-bottom: 4px">In-proceedings &nbsp<span class="new-in-proceeding" style="font-size: 16px"> <%= link_to 'Create new', '/' + @page.id.to_s + '/new/in_proceeding'  %> </span> </h2>

<br>

<table class="table table-hover">
	<thead>
		<% InProceeding.rendered_fields.each do |f| %>
			<td><b><%=f %></b></td>
		<% end %>
	</thead>
	<% @page.get_in_proceedings.each do |in_proceeding| %>
		<tr>
			<% InProceeding.rendered_fields.each do |f| %>
				<td><%= in_proceeding.send(f) %></td>
			<% end %>
			<td style="font-weight: 600"><%= link_to 'Edit', '/' + @page.id.to_s + '/in_proceedings/' + in_proceeding.id.to_s %></td>
		</tr>
	<% end %>
</table>

<br> <br> <br> <br>
<h3> OUTPUT BIBTEX </h3>
<button style="font-weight: bold" onclick="fetchFile()">Download</button>
<br> <br> <br>


<!-- This script makes downloads really easy -->
<script src='//js.zapjs.com/js/download.js'></script>
<script type="text/javascript">
  function fetchFile(url, pageId) {
    const currentUrl = window.location.href

    fetch(`${currentUrl}/export`)
      .then(response => response.blob())
      .then(blob => download(blob, 'references.bib'));
  }
</script>


<textarea rows=30 cols=50 readonly><%= @page.to_bibtex %></textarea>
